imports:
    - { resource: parameters.yml }
    - { resource: security.yml }

framework:
    #esi:             ~
    translator:      { fallback: %locale% }
    secret:          %secret%
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: %kernel.debug%
    form:            ~
    csrf_protection: false
    validation:      { enable_annotations: true }
    templating:
        engines: ['twig']
        #assets_version: SomeVersionScheme
    default_locale:  "%locale%"
    trusted_proxies: ~
    session:         false
    fragments:       ~

# Twig Configuration
twig:
    debug:            %kernel.debug%
    strict_variables: %kernel.debug%
    exception_controller: 'FOS\RestBundle\Controller\ExceptionController::showAction'

# Assetic Configuration
assetic:
    debug:          %kernel.debug%
    use_controller: false
    bundles:        [ ]
    #java: /usr/bin/java
    filters:
        cssrewrite: ~
        #closure:
        #    jar: %kernel.root_dir%/Resources/java/compiler.jar
        #yui_css:
        #    jar: %kernel.root_dir%/Resources/java/yuicompressor-2.4.7.jar

# Doctrine Configuration
doctrine:
    dbal:
        driver:   %database_driver%
        host:     %database_host%
        port:     %database_port%
        dbname:   %database_name%
        user:     %database_user%
        password: %database_password%
        charset:  UTF8
        # if using pdo_sqlite as your database driver, add the path in parameters.yml
        # e.g. database_path: %kernel.root_dir%/data/data.db3
        # path:     %database_path%

    orm:
        auto_generate_proxy_classes: %kernel.debug%
        auto_mapping: true

# Swiftmailer Configuration
swiftmailer:
    transport: %mailer_transport%
    host:      %mailer_host%
    username:  %mailer_user%
    password:  %mailer_password%
    spool:     { type: memory }

sensio_framework_extra:
    view: { annotations: false }

fos_rest:
    disable_csrf_role: ROLE_API
    param_fetcher_listener: true
    view:
        mime_types:
            json: ['application/json']
        view_response_listener: 'force'
        formats:
            json: true
        templating_formats:
            html: true
    format_listener:
        rules:
            - { path: ^/swagger, priorities: [ json ], fallback_format: json, prefer_extension: false }
            - { path: ^/api, priorities: [ json ], fallback_format: json, prefer_extension: true }
            - { path: ^/ui, priorities: [ html ], fallback_format: ~, prefer_extension: true }
            - { path: '^/', priorities: [ html, '*/*'], fallback_format: html, prefer_extension: true }
        media_type:
            version_regex: '/(v|version)=(?P<version>[0-9\.]+)/'
    exception:
        codes:
            'Symfony\Component\Routing\Exception\ResourceNotFoundException': 404
            'Doctrine\ORM\OptimisticLockException': HTTP_CONFLICT
        messages:
            'Symfony\Component\Routing\Exception\ResourceNotFoundException': true
    allowed_methods_listener: true
    access_denied_listener:
        json: true
    body_listener: true

fos_http_cache:
    cache_control:
        rules:
            -
                match:
                    path: ^/api
                    methods: [GET, HEAD]
                headers:
                    cache_control: { public: true, max_age: 15, s_maxage: 30 }
                    last_modified: "-1 hour"
                    vary: [Accept-Encoding, Accept-Language]

fos_oauth_server:
    db_driver: orm
    client_class:        Meup\Bundle\BifrostBundle\Entity\Client
    access_token_class:  Meup\Bundle\BifrostBundle\Entity\AccessToken
    refresh_token_class: Meup\Bundle\BifrostBundle\Entity\RefreshToken
    auth_code_class:     Meup\Bundle\BifrostBundle\Entity\AuthCode

# Nelmio API Doc
nelmio_api_doc:
    name: API Documentation
    request_listener:
        enabled: false
    sandbox:
        enabled: false
    swagger:
        api_base_path:        /api
        swagger_version:      '1.2'
        api_version:          '1.0'
        info:
            title:                1001Pharmacies Symfony REST Edition
            description:          A 1001Pharmacies base project for REST APIs
            contact:              technique@1001pharmacies.com
            license:              Copyright (c) 2015 1001pharmacies.com
            licenseUrl:           https://github.com/1001Pharmacies/symfony-bifrost-edition/blob/master/LICENSE
            TermsOfServiceUrl:    null