{% extends "MeupDemoBundle::layout.html.twig" %}

{% block title "Symfony - Centers" %}

{% block content_header '' %}

{% block content %}
    <h1 class="title">{{ 'center.edit.headline'|trans({'%id%': id}, 'MeupDemoBundle') }}</h1>

    <form action="{{ url('put_centers', {'id': id}) }}" method="POST" {{ form_enctype(form) }}>
        <input type="hidden" name="_method" value="put" />

        {{ form_widget(form) }}

        <input type="submit" value="{% trans from 'MeupDemoBundle' %}center.edit.submit{% endtrans %}">
    </form>
{% endblock %}

{% set code = code(_self) %}
